.padding-0{padding: 0px !important;}.padding-t-0{padding-top: 0px !important;}.padding-r-0{padding-right: 0px !important;}.padding-b-0{padding-bottom: 0px !important;}.padding-l-0{padding-left: 0px !important;}
.padding-1{padding: 1px !important;}.padding-t-1{padding-top: 1px !important;}.padding-r-1{padding-right: 1px !important;}.padding-b-1{padding-bottom: 1px !important;}.padding-l-1{padding-left: 1px !important;}
.padding-2{padding: 2px !important;}.padding-t-2{padding-top: 2px !important;}.padding-r-2{padding-right: 2px !important;}.padding-b-2{padding-bottom: 2px !important;}.padding-l-2{padding-left: 2px !important;}
.padding-3{padding: 3px !important;}.padding-t-3{padding-top: 3px !important;}.padding-r-3{padding-right: 3px !important;}.padding-b-3{padding-bottom: 3px !important;}.padding-l-3{padding-left: 3px !important;}
.padding-4{padding: 4px !important;}.padding-t-4{padding-top: 4px !important;}.padding-r-4{padding-right: 4px !important;}.padding-b-4{padding-bottom: 4px !important;}.padding-l-4{padding-left: 4px !important;}
.padding-5{padding: 5px !important;}.padding-t-5{padding-top: 5px !important;}.padding-r-5{padding-right: 5px !important;}.padding-b-5{padding-bottom: 5px !important;}.padding-l-5{padding-left: 5px !important;}
.padding-6{padding: 6px !important;}.padding-t-6{padding-top: 6px !important;}.padding-r-6{padding-right: 6px !important;}.padding-b-6{padding-bottom: 6px !important;}.padding-l-6{padding-left: 6px !important;}
.padding-7{padding: 7px !important;}.padding-t-7{padding-top: 7px !important;}.padding-r-7{padding-right: 7px !important;}.padding-b-7{padding-bottom: 7px !important;}.padding-l-7{padding-left: 7px !important;}
.padding-8{padding: 8px !important;}.padding-t-8{padding-top: 8px !important;}.padding-r-8{padding-right: 8px !important;}.padding-b-8{padding-bottom: 8px !important;}.padding-l-8{padding-left: 8px !important;}
.padding-9{padding: 9px !important;}.padding-t-9{padding-top: 9px !important;}.padding-r-9{padding-right: 9px !important;}.padding-b-9{padding-bottom: 9px !important;}.padding-l-9{padding-left: 9px !important;}
.padding-10{padding: 10px !important;}.padding-t-10{padding-top: 10px !important;}.padding-r-10{padding-right: 10px !important;}.padding-b-10{padding-bottom: 10px !important;}.padding-l-10{padding-left: 10px !important;}
.padding-11{padding: 11px !important;}.padding-t-11{padding-top: 11px !important;}.padding-r-11{padding-right: 11px !important;}.padding-b-11{padding-bottom: 11px !important;}.padding-l-11{padding-left: 11px !important;}
.padding-12{padding: 12px !important;}.padding-t-12{padding-top: 12px !important;}.padding-r-12{padding-right: 12px !important;}.padding-b-12{padding-bottom: 12px !important;}.padding-l-12{padding-left: 12px !important;}
.padding-13{padding: 13px !important;}.padding-t-13{padding-top: 13px !important;}.padding-r-13{padding-right: 13px !important;}.padding-b-13{padding-bottom: 13px !important;}.padding-l-13{padding-left: 13px !important;}
.padding-14{padding: 14px !important;}.padding-t-14{padding-top: 14px !important;}.padding-r-14{padding-right: 14px !important;}.padding-b-14{padding-bottom: 14px !important;}.padding-l-14{padding-left: 14px !important;}
.padding-15{padding: 15px !important;}.padding-t-15{padding-top: 15px !important;}.padding-r-15{padding-right: 15px !important;}.padding-b-15{padding-bottom: 15px !important;}.padding-l-15{padding-left: 15px !important;}
.padding-16{padding: 16px !important;}.padding-t-16{padding-top: 16px !important;}.padding-r-16{padding-right: 16px !important;}.padding-b-16{padding-bottom: 16px !important;}.padding-l-16{padding-left: 16px !important;}
.padding-17{padding: 17px !important;}.padding-t-17{padding-top: 17px !important;}.padding-r-17{padding-right: 17px !important;}.padding-b-17{padding-bottom: 17px !important;}.padding-l-17{padding-left: 17px !important;}
.padding-18{padding: 18px !important;}.padding-t-18{padding-top: 18px !important;}.padding-r-18{padding-right: 18px !important;}.padding-b-18{padding-bottom: 18px !important;}.padding-l-18{padding-left: 18px !important;}
.padding-19{padding: 19px !important;}.padding-t-19{padding-top: 19px !important;}.padding-r-19{padding-right: 19px !important;}.padding-b-19{padding-bottom: 19px !important;}.padding-l-19{padding-left: 19px !important;}
.padding-20{padding: 20px !important;}.padding-t-20{padding-top: 20px !important;}.padding-r-20{padding-right: 20px !important;}.padding-b-20{padding-bottom: 20px !important;}.padding-l-20{padding-left: 20px !important;}
.padding-25{padding: 25px !important;}.padding-t-25{padding-top: 25px !important;}.padding-r-25{padding-right: 25px !important;}.padding-b-25{padding-bottom: 25px !important;}.padding-l-25{padding-left: 25px !important;}
.padding-30{padding: 30px !important;}.padding-t-30{padding-top: 30px !important;}.padding-r-30{padding-right: 30px !important;}.padding-b-30{padding-bottom: 30px !important;}.padding-l-30{padding-left: 30px !important;}
.padding-35{padding: 35px !important;}.padding-t-35{padding-top: 35px !important;}.padding-r-35{padding-right: 35px !important;}.padding-b-35{padding-bottom: 35px !important;}.padding-l-35{padding-left: 35px !important;}
.padding-40{padding: 40px !important;}.padding-t-40{padding-top: 40px !important;}.padding-r-40{padding-right: 40px !important;}.padding-b-40{padding-bottom: 40px !important;}.padding-l-40{padding-left: 40px !important;}
.padding-50{padding: 50px !important;}.padding-t-50{padding-top: 50px !important;}.padding-r-50{padding-right: 50px !important;}.padding-b-50{padding-bottom: 50px !important;}.padding-l-50{padding-left: 50px !important;}
.padding-55{padding: 55px !important;}.padding-t-55{padding-top: 55px !important;}.padding-r-55{padding-right: 55px !important;}.padding-b-55{padding-bottom: 55px !important;}.padding-l-55{padding-left: 55px !important;}
.padding-60{padding: 60px !important;}.padding-t-60{padding-top: 60px !important;}.padding-r-60{padding-right: 60px !important;}.padding-b-60{padding-bottom: 60px !important;}.padding-l-60{padding-left: 60px !important;}
.padding-65{padding: 65px !important;}.padding-t-65{padding-top: 65px !important;}.padding-r-65{padding-right: 65px !important;}.padding-b-65{padding-bottom: 65px !important;}.padding-l-65{padding-left: 65px !important;}
.padding-70{padding: 70px !important;}.padding-t-70{padding-top: 70px !important;}.padding-r-70{padding-right: 70px !important;}.padding-b-70{padding-bottom: 70px !important;}.padding-l-70{padding-left: 70px !important;}
.padding-75{padding: 75px !important;}.padding-t-75{padding-top: 75px !important;}.padding-r-75{padding-right: 75px !important;}.padding-b-75{padding-bottom: 75px !important;}.padding-l-75{padding-left: 75px !important;}
.padding-80{padding: 80px !important;}.padding-t-80{padding-top: 80px !important;}.padding-r-80{padding-right: 80px !important;}.padding-b-80{padding-bottom: 80px !important;}.padding-l-80{padding-left: 80px !important;}
.padding-85{padding: 85px !important;}.padding-t-85{padding-top: 85px !important;}.padding-r-85{padding-right: 85px !important;}.padding-b-85{padding-bottom: 85px !important;}.padding-l-85{padding-left: 85px !important;}
.padding-90{padding: 90px !important;}.padding-t-90{padding-top: 90px !important;}.padding-r-90{padding-right: 90px !important;}.padding-b-90{padding-bottom: 90px !important;}.padding-l-90{padding-left: 90px !important;}
.padding-95{padding: 95px !important;}.padding-t-95{padding-top: 95px !important;}.padding-r-95{padding-right: 95px !important;}.padding-b-95{padding-bottom: 95px !important;}.padding-l-95{padding-left: 95px !important;}
.padding-100{padding: 100px !important;}.padding-t-100{padding-top: 100px !important;}.padding-r-100{padding-right: 100px !important;}.padding-b-100{padding-bottom: 100px !important;}.padding-l-100{padding-left: 100px !important;}
.padding-150{padding: 150px !important;}.padding-t-150{padding-top: 150px !important;}.padding-r-150{padding-right: 150px !important;}.padding-b-150{padding-bottom: 150px !important;}.padding-l-150{padding-left: 150px !important;}
.padding-200{padding: 200px !important;}.padding-t-200{padding-top: 200px !important;}.padding-r-200{padding-right: 200px !important;}.padding-b-200{padding-bottom: 200px !important;}.padding-l-200{padding-left: 200px !important;}
.padding-300{padding: 300px !important;}.padding-t-300{padding-top: 300px !important;}.padding-r-300{padding-right: 300px !important;}.padding-b-300{padding-bottom: 300px !important;}.padding-l-300{padding-left: 300px !important;}
.padding-y-0{padding-top: 0px !important;padding-bottom: 0px !important;}.padding-x-0{padding-left: 0px !important; padding-right: 0px !important;}
.padding-y-1{padding-top: 1px !important;padding-bottom: 1px !important;}.padding-x-1{padding-left: 1px !important; padding-right: 1px !important;}
.padding-y-2{padding-top: 2px !important;padding-bottom: 2px !important;}.padding-x-2{padding-left: 2px !important; padding-right: 2px !important;}
.padding-y-3{padding-top: 3px !important;padding-bottom: 3px !important;}.padding-x-3{padding-left: 3px !important; padding-right: 3px !important;}
.padding-y-4{padding-top: 4px !important;padding-bottom: 4px !important;}.padding-x-4{padding-left: 4px !important; padding-right: 4px !important;}
.padding-y-5{padding-top: 5px !important;padding-bottom: 5px !important;}.padding-x-5{padding-left: 5px !important; padding-right: 5px !important;}
.padding-y-6{padding-top: 6px !important;padding-bottom: 6px !important;}.padding-x-6{padding-left: 6px !important; padding-right: 6px !important;}
.padding-y-7{padding-top: 7px !important;padding-bottom: 7px !important;}.padding-x-7{padding-left: 7px !important; padding-right: 7px !important;}
.padding-y-8{padding-top: 8px !important;padding-bottom: 8px !important;}.padding-x-8{padding-left: 8px !important; padding-right: 8px !important;}
.padding-y-9{padding-top: 9px !important;padding-bottom: 9px !important;}.padding-x-9{padding-left: 9px !important; padding-right: 9px !important;}
.padding-y-10{padding-top: 10px !important;padding-bottom: 10px !important;}.padding-x-10{padding-left: 10px !important; padding-right: 10px !important;}
.padding-y-11{padding-top: 11px !important;padding-bottom: 11px !important;}.padding-x-11{padding-left: 11px !important; padding-right: 11px !important;}
.padding-y-12{padding-top: 12px !important;padding-bottom: 12px !important;}.padding-x-12{padding-left: 12px !important; padding-right: 12px !important;}
.padding-y-13{padding-top: 13px !important;padding-bottom: 13px !important;}.padding-x-13{padding-left: 13px !important; padding-right: 13px !important;}
.padding-y-14{padding-top: 14px !important;padding-bottom: 14px !important;}.padding-x-14{padding-left: 14px !important; padding-right: 14px !important;}
.padding-y-15{padding-top: 15px !important;padding-bottom: 15px !important;}.padding-x-15{padding-left: 15px !important; padding-right: 15px !important;}
.padding-y-16{padding-top: 16px !important;padding-bottom: 16px !important;}.padding-x-16{padding-left: 16px !important; padding-right: 16px !important;}
.padding-y-17{padding-top: 17px !important;padding-bottom: 17px !important;}.padding-x-17{padding-left: 17px !important; padding-right: 17px !important;}
.padding-y-18{padding-top: 18px !important;padding-bottom: 18px !important;}.padding-x-18{padding-left: 18px !important; padding-right: 18px !important;}
.padding-y-19{padding-top: 19px !important;padding-bottom: 19px !important;}.padding-x-19{padding-left: 19px !important; padding-right: 19px !important;}
.padding-y-20{padding-top: 20px !important;padding-bottom: 20px !important;}.padding-x-20{padding-left: 20px !important; padding-right: 20px !important;}
.padding-y-25{padding-top: 25px !important;padding-bottom: 25px !important;}.padding-x-25{padding-left: 25px !important; padding-right: 25px !important;}
.padding-y-30{padding-top: 30px !important;padding-bottom: 30px !important;}.padding-x-30{padding-left: 30px !important; padding-right: 30px !important;}
.padding-y-35{padding-top: 35px !important;padding-bottom: 35px !important;}.padding-x-35{padding-left: 35px !important; padding-right: 35px !important;}
.padding-y-40{padding-top: 40px !important;padding-bottom: 40px !important;}.padding-x-40{padding-left: 40px !important; padding-right: 40px !important;}
.padding-y-45{padding-top: 45px !important;padding-bottom: 45px !important;}.padding-x-45{padding-left: 45px !important; padding-right: 45px !important;}
.padding-y-50{padding-top: 50px !important;padding-bottom: 50px !important;}.padding-x-50{padding-left: 50px !important; padding-right: 50px !important;}
.padding-y-55{padding-top: 55px !important;padding-bottom: 55px !important;}.padding-x-55{padding-left: 55px !important; padding-right: 55px !important;}
.padding-y-60{padding-top: 60px !important;padding-bottom: 60px !important;}.padding-x-60{padding-left: 60px !important; padding-right: 60px !important;}
.padding-y-65{padding-top: 65px !important;padding-bottom: 65px !important;}.padding-x-65{padding-left: 65px !important; padding-right: 65px !important;}
.padding-y-70{padding-top: 70px !important;padding-bottom: 70px !important;}.padding-x-70{padding-left: 70px !important; padding-right: 70px !important;}
.padding-y-75{padding-top: 75px !important;padding-bottom: 75px !important;}.padding-x-75{padding-left: 75px !important; padding-right: 75px !important;}
.padding-y-80{padding-top: 80px !important;padding-bottom: 80px !important;}.padding-x-80{padding-left: 80px !important; padding-right: 80px !important;}
.padding-y-85{padding-top: 85px !important;padding-bottom: 85px !important;}.padding-x-85{padding-left: 85px !important; padding-right: 85px !important;}
.padding-y-90{padding-top: 90px !important;padding-bottom: 90px !important;}.padding-x-90{padding-left: 90px !important; padding-right: 90px !important;}
.padding-y-100{padding-top: 100px !important;padding-bottom: 100px !important;}.padding-x-100{padding-left: 100px !important; padding-right: 100px !important;}

.margin-y-0{margin-top: 0px !important;margin-bottom: 0px !important;}.margin-x-0{margin-left: 0px !important; margin-right: 0px !important;}
.margin-y-1{margin-top: 1px !important;margin-bottom: 1px !important;}.margin-x-1{margin-left: 1px !important; margin-right: 1px !important;}
.margin-y-2{margin-top: 2px !important;margin-bottom: 2px !important;}.margin-x-2{margin-left: 2px !important; margin-right: 2px !important;}
.margin-y-3{margin-top: 3px !important;margin-bottom: 3px !important;}.margin-x-3{margin-left: 3px !important; margin-right: 3px !important;}
.margin-y-4{margin-top: 4px !important;margin-bottom: 4px !important;}.margin-x-4{margin-left: 4px !important; margin-right: 4px !important;}
.margin-y-5{margin-top: 5px !important;margin-bottom: 5px !important;}.margin-x-5{margin-left: 5px !important; margin-right: 5px !important;}
.margin-y-6{margin-top: 6px !important;margin-bottom: 6px !important;}.margin-x-6{margin-left: 6px !important; margin-right: 6px !important;}
.margin-y-7{margin-top: 7px !important;margin-bottom: 7px !important;}.margin-x-7{margin-left: 7px !important; margin-right: 7px !important;}
.margin-y-8{margin-top: 8px !important;margin-bottom: 8px !important;}.margin-x-8{margin-left: 8px !important; margin-right: 8px !important;}
.margin-y-9{margin-top: 9px !important;margin-bottom: 9px !important;}.margin-x-9{margin-left: 9px !important; margin-right: 9px !important;}
.margin-y-10{margin-top: 10px !important;margin-bottom: 10px !important;}.margin-x-10{margin-left: 10px !important; margin-right: 10px !important;}
.margin-y-11{margin-top: 11px !important;margin-bottom: 11px !important;}.margin-x-11{margin-left: 11px !important; margin-right: 11px !important;}
.margin-y-12{margin-top: 12px !important;margin-bottom: 12px !important;}.margin-x-12{margin-left: 12px !important; margin-right: 12px !important;}
.margin-y-13{margin-top: 13px !important;margin-bottom: 13px !important;}.margin-x-13{margin-left: 13px !important; margin-right: 13px !important;}
.margin-y-14{margin-top: 14px !important;margin-bottom: 14px !important;}.margin-x-14{margin-left: 14px !important; margin-right: 14px !important;}
.margin-y-15{margin-top: 15px !important;margin-bottom: 15px !important;}.margin-x-15{margin-left: 15px !important; margin-right: 15px !important;}
.margin-y-16{margin-top: 16px !important;margin-bottom: 16px !important;}.margin-x-16{margin-left: 16px !important; margin-right: 16px !important;}
.margin-y-17{margin-top: 17px !important;margin-bottom: 17px !important;}.margin-x-17{margin-left: 17px !important; margin-right: 17px !important;}
.margin-y-18{margin-top: 18px !important;margin-bottom: 18px !important;}.margin-x-18{margin-left: 18px !important; margin-right: 18px !important;}
.margin-y-19{margin-top: 19px !important;margin-bottom: 19px !important;}.margin-x-19{margin-left: 19px !important; margin-right: 19px !important;}
.margin-y-20{margin-top: 20px !important;margin-bottom: 20px !important;}.margin-x-20{margin-left: 20px !important; margin-right: 20px !important;}
.margin-y-25{margin-top: 25px !important;margin-bottom: 25px !important;}.margin-x-25{margin-left: 25px !important; margin-right: 25px !important;}
.margin-y-30{margin-top: 30px !important;margin-bottom: 30px !important;}.margin-x-30{margin-left: 30px !important; margin-right: 30px !important;}
.margin-y-35{margin-top: 35px !important;margin-bottom: 35px !important;}.margin-x-35{margin-left: 35px !important; margin-right: 35px !important;}
.margin-y-40{margin-top: 40px !important;margin-bottom: 40px !important;}.margin-x-40{margin-left: 40px !important; margin-right: 40px !important;}
.margin-y-45{margin-top: 45px !important;margin-bottom: 45px !important;}.margin-x-45{margin-left: 45px !important; margin-right: 45px !important;}
.margin-y-50{margin-top: 50px !important;margin-bottom: 50px !important;}.margin-x-50{margin-left: 50px !important; margin-right: 50px !important;}
.margin-y-55{margin-top: 55px !important;margin-bottom: 55px !important;}.margin-x-55{margin-left: 55px !important; margin-right: 55px !important;}
.margin-y-60{margin-top: 60px !important;margin-bottom: 60px !important;}.margin-x-60{margin-left: 60px !important; margin-right: 60px !important;}
.margin-y-65{margin-top: 65px !important;margin-bottom: 65px !important;}.margin-x-65{margin-left: 65px !important; margin-right: 65px !important;}
.margin-y-70{margin-top: 70px !important;margin-bottom: 70px !important;}.margin-x-70{margin-left: 70px !important; margin-right: 70px !important;}
.margin-y-75{margin-top: 75px !important;margin-bottom: 75px !important;}.margin-x-75{margin-left: 75px !important; margin-right: 75px !important;}
.margin-y-80{margin-top: 80px !important;margin-bottom: 80px !important;}.margin-x-80{margin-left: 80px !important; margin-right: 80px !important;}
.margin-y-85{margin-top: 85px !important;margin-bottom: 85px !important;}.margin-x-85{margin-left: 85px !important; margin-right: 85px !important;}
.margin-y-90{margin-top: 90px !important;margin-bottom: 90px !important;}.margin-x-90{margin-left: 90px !important; margin-right: 90px !important;}
.margin-y-100{margin-top: 100px !important;margin-bottom: 100px !important;}.margin-x-100{margin-left: 100px !important; margin-right: 100px !important;}
.margin-0{margin: 0px !important;}.margin-t-0{margin-top: 0px !important;}.margin-r-0{margin-right: 0px !important;}.margin-b-0{margin-bottom: 0px !important;}.margin-l-0{margin-left: 0px !important;}
.margin-1{margin: 1px !important;}.margin-t-1{margin-top: 1px !important;}.margin-r-1{margin-right: 1px !important;}.margin-b-1{margin-bottom: 1px !important;}.margin-l-1{margin-left: 1px !important;}
.margin-2{margin: 2px !important;}.margin-t-2{margin-top: 2px !important;}.margin-r-2{margin-right: 2px !important;}.margin-b-2{margin-bottom: 2px !important;}.margin-l-2{margin-left: 2px !important;}
.margin-3{margin: 3px !important;}.margin-t-3{margin-top: 3px !important;}.margin-r-3{margin-right: 3px !important;}.margin-b-3{margin-bottom: 3px !important;}.margin-l-3{margin-left: 3px !important;}
.margin-4{margin: 4px !important;}.margin-t-4{margin-top: 4px !important;}.margin-r-4{margin-right: 4px !important;}.margin-b-4{margin-bottom: 4px !important;}.margin-l-4{margin-left: 4px !important;}
.margin-5{margin: 5px !important;}.margin-t-5{margin-top: 5px !important;}.margin-r-5{margin-right: 5px !important;}.margin-b-5{margin-bottom: 5px !important;}.margin-l-5{margin-left: 5px !important;}
.margin-6{margin: 6px !important;}.margin-t-6{margin-top: 6px !important;}.margin-r-6{margin-right: 6px !important;}.margin-b-6{margin-bottom: 6px !important;}.margin-l-6{margin-left: 6px !important;}
.margin-7{margin: 7px !important;}.margin-t-7{margin-top: 7px !important;}.margin-r-7{margin-right: 7px !important;}.margin-b-7{margin-bottom: 7px !important;}.margin-l-7{margin-left: 7px !important;}
.margin-8{margin: 8px !important;}.margin-t-8{margin-top: 8px !important;}.margin-r-8{margin-right: 8px !important;}.margin-b-8{margin-bottom: 8px !important;}.margin-l-8{margin-left: 8px !important;}
.margin-9{margin: 9px !important;}.margin-t-9{margin-top: 9px !important;}.margin-r-9{margin-right: 9px !important;}.margin-b-9{margin-bottom: 9px !important;}.margin-l-9{margin-left: 9px !important;}
.margin-11{margin: 11px !important;}.margin-t-11{margin-top: 11px !important;}.margin-r-11{margin-right: 11px !important;}.margin-b-11{margin-bottom: 11px !important;}.margin-l-11{margin-left: 11px !important;}
.margin-12{margin: 12px !important;}.margin-t-12{margin-top: 12px !important;}.margin-r-12{margin-right: 12px !important;}.margin-b-12{margin-bottom: 12px !important;}.margin-l-12{margin-left: 12px !important;}
.margin-13{margin: 13px !important;}.margin-t-13{margin-top: 13px !important;}.margin-r-13{margin-right: 13px !important;}.margin-b-13{margin-bottom: 13px !important;}.margin-l-13{margin-left: 13px !important;}
.margin-14{margin: 14px !important;}.margin-t-14{margin-top: 14px !important;}.margin-r-14{margin-right: 14px !important;}.margin-b-14{margin-bottom: 14px !important;}.margin-l-14{margin-left: 14px !important;}
.margin-16{margin: 16px !important;}.margin-t-16{margin-top: 16px !important;}.margin-r-16{margin-right: 16px !important;}.margin-b-16{margin-bottom: 16px !important;}.margin-l-16{margin-left: 16px !important;}
.margin-17{margin: 17px !important;}.margin-t-17{margin-top: 17px !important;}.margin-r-17{margin-right: 17px !important;}.margin-b-17{margin-bottom: 17px !important;}.margin-l-17{margin-left: 17px !important;}
.margin-18{margin: 18px !important;}.margin-t-18{margin-top: 18px !important;}.margin-r-18{margin-right: 18px !important;}.margin-b-18{margin-bottom: 18px !important;}.margin-l-18{margin-left: 18px !important;}
.margin-19{margin: 19px !important;}.margin-t-19{margin-top: 19px !important;}.margin-r-19{margin-right: 19px !important;}.margin-b-19{margin-bottom: 19px !important;}.margin-l-19{margin-left: 19px !important;}
.margin-10{margin: 10px !important;}.margin-t-10{margin-top: 10px !important;}.margin-r-10{margin-right: 10px !important;}.margin-b-10{margin-bottom: 10px !important;}.margin-l-10{margin-left: 10px !important;}
.margin-15{margin: 15px !important;}.margin-t-15{margin-top: 15px !important;}.margin-r-15{margin-right: 15px !important;}.margin-b-15{margin-bottom: 15px !important;}.margin-l-15{margin-left: 15px !important;}
.margin-20{margin: 20px !important;}.margin-t-20{margin-top: 20px !important;}.margin-r-20{margin-right: 20px !important;}.margin-b-20{margin-bottom: 20px !important;}.margin-l-20{margin-left: 20px !important;}
.margin-25{margin: 25px !important;}.margin-t-25{margin-top: 25px !important;}.margin-r-25{margin-right: 25px !important;}.margin-b-25{margin-bottom: 25px !important;}.margin-l-25{margin-left: 25px !important;}
.margin-30{margin: 30px !important;}.margin-t-30{margin-top: 30px !important;}.margin-r-30{margin-right: 30px !important;}.margin-b-30{margin-bottom: 30px !important;}.margin-l-30{margin-left: 30px !important;}
.margin-35{margin: 35px !important;}.margin-t-35{margin-top: 35px !important;}.margin-r-35{margin-right: 35px !important;}.margin-b-35{margin-bottom: 35px !important;}.margin-l-35{margin-left: 35px !important;}
.margin-40{margin: 40px !important;}.margin-t-40{margin-top: 40px !important;}.margin-r-40{margin-right: 40px !important;}.margin-b-40{margin-bottom: 40px !important;}.margin-l-40{margin-left: 40px !important;}
.margin-45{margin: 45px !important;}.margin-t-45{margin-top: 45px !important;}.margin-r-45{margin-right: 45px !important;}.margin-b-45{margin-bottom: 45px !important;}.margin-l-45{margin-left: 45px !important;}
.margin-50{margin: 50px !important;}.margin-t-50{margin-top: 50px !important;}.margin-r-50{margin-right: 50px !important;}.margin-b-50{margin-bottom: 50px !important;}.margin-l-50{margin-left: 50px !important;}
.margin-55{margin: 55px !important;}.margin-t-55{margin-top: 55px !important;}.margin-r-55{margin-right: 55px !important;}.margin-b-55{margin-bottom: 55px !important;}.margin-l-55{margin-left: 55px !important;}
.margin-60{margin: 60px !important;}.margin-t-60{margin-top: 60px !important;}.margin-r-60{margin-right: 60px !important;}.margin-b-60{margin-bottom: 60px !important;}.margin-l-60{margin-left: 60px !important;}
.margin-65{margin: 65px !important;}.margin-t-65{margin-top: 65px !important;}.margin-r-65{margin-right: 65px !important;}.margin-b-65{margin-bottom: 65px !important;}.margin-l-65{margin-left: 65px !important;}
.margin-70{margin: 70px !important;}.margin-t-70{margin-top: 70px !important;}.margin-r-70{margin-right: 70px !important;}.margin-b-70{margin-bottom: 70px !important;}.margin-l-70{margin-left: 70px !important;}
.margin-75{margin: 75px !important;}.margin-t-75{margin-top: 75px !important;}.margin-r-75{margin-right: 75px !important;}.margin-b-75{margin-bottom: 75px !important;}.margin-l-75{margin-left: 75px !important;}
.margin-80{margin: 80px !important;}.margin-t-80{margin-top: 80px !important;}.margin-r-80{margin-right: 80px !important;}.margin-b-80{margin-bottom: 80px !important;}.margin-l-80{margin-left: 80px !important;}
.margin-85{margin: 85px !important;}.margin-t-85{margin-top: 85px !important;}.margin-r-85{margin-right: 85px !important;}.margin-b-85{margin-bottom: 85px !important;}.margin-l-85{margin-left: 85px !important;}
.margin-90{margin: 90px !important;}.margin-t-90{margin-top: 90px !important;}.margin-r-90{margin-right: 90px !important;}.margin-b-90{margin-bottom: 90px !important;}.margin-l-90{margin-left: 90px !important;}
.margin-95{margin: 95px !important;}.margin-t-95{margin-top: 95px !important;}.margin-r-95{margin-right: 95px !important;}.margin-b-95{margin-bottom: 95px !important;}.margin-l-95{margin-left: 95px !important;}
.margin-100{margin: 100px !important;}.margin-t-100{margin-top: 100px !important;}.margin-r-100{margin-right: 100px !important;}.margin-b-100{margin-bottom: 100px !important;}.margin-l-100{margin-left: 100px !important;}
.margin-150{margin: 150px !important;}.margin-t-150{margin-top: 150px !important;}.margin-r-150{margin-right: 150px !important;}.margin-b-150{margin-bottom: 150px !important;}.margin-l-150{margin-left: 150px !important;}
.margin-200{margin: 200px !important;}.margin-t-200{margin-top: 200px !important;}.margin-r-200{margin-right: 200px !important;}.margin-b-200{margin-bottom: 200px !important;}.margin-l-200{margin-left: 200px !important;}
.margin-300{margin: 300px !important;}.margin-t-300{margin-top: 300px !important;}.margin-r-300{margin-right: 300px !important;}.margin-b-300{margin-bottom: 300px !important;}.margin-l-300{margin-left: 300px !important;}

.border-0{border: 0px !important;}.border-t-0{border-top: 0px !important;}.border-r-0{border-right: 0px !important;}.border-b-0{border-bottom: 0px !important;}.border-l-0{border-left: 0px !important;}
.border-1{border: 1px !important;}.border-t-1{border-top: 1px !important;}.border-r-1{border-right: 1px !important;}.border-b-1{border-bottom: 1px !important;}.border-l-1{border-left: 1px !important;}
.border-2{border: 2px !important;}.border-t-2{border-top: 2px !important;}.border-r-2{border-right: 2px !important;}.border-b-2{border-bottom: 2px !important;}.border-l-2{border-left: 2px !important;}
.border-3{border: 3px !important;}.border-t-3{border-top: 3px !important;}.border-r-3{border-right: 3px !important;}.border-b-3{border-bottom: 3px !important;}.border-l-3{border-left: 3px !important;}
.border-4{border: 4px !important;}.border-t-4{border-top: 4px !important;}.border-r-4{border-right: 4px !important;}.border-b-4{border-bottom: 4px !important;}.border-l-4{border-left: 4px !important;}
.border-5{border: 5px !important;}.border-t-5{border-top: 5px !important;}.border-r-5{border-right: 5px !important;}.border-b-5{border-bottom: 5px !important;}.border-l-5{border-left: 5px !important;}
.border-6{border: 6px !important;}.border-t-6{border-top: 6px !important;}.border-r-6{border-right: 6px !important;}.border-b-6{border-bottom: 6px !important;}.border-l-6{border-left: 6px !important;}
.border-7{border: 7px !important;}.border-t-7{border-top: 7px !important;}.border-r-7{border-right: 7px !important;}.border-b-7{border-bottom: 7px !important;}.border-l-7{border-left: 7px !important;}
.border-8{border: 8px !important;}.border-t-8{border-top: 8px !important;}.border-r-8{border-right: 8px !important;}.border-b-8{border-bottom: 8px !important;}.border-l-8{border-left: 8px !important;}
.border-9{border: 9px !important;}.border-t-9{border-top: 9px !important;}.border-r-9{border-right: 9px !important;}.border-b-9{border-bottom: 9px !important;}.border-l-9{border-left: 9px !important;}
.border-10{border: 10px !important;}.border-t-10{border-top: 10px !important;}.border-r-10{border-right: 10px !important;}.border-b-10{border-bottom: 10px !important;}.border-l-10{border-left: 10px !important;}
.border-11{border: 11px !important;}.border-t-11{border-top: 11px !important;}.border-r-11{border-right: 11px !important;}.border-b-11{border-bottom: 11px !important;}.border-l-11{border-left: 11px !important;}
.border-12{border: 12px !important;}.border-t-12{border-top: 12px !important;}.border-r-12{border-right: 12px !important;}.border-b-12{border-bottom: 12px !important;}.border-l-12{border-left: 12px !important;}
.border-13{border: 13px !important;}.border-t-13{border-top: 13px !important;}.border-r-13{border-right: 13px !important;}.border-b-13{border-bottom: 13px !important;}.border-l-13{border-left: 13px !important;}
.border-14{border: 14px !important;}.border-t-14{border-top: 14px !important;}.border-r-14{border-right: 14px !important;}.border-b-14{border-bottom: 14px !important;}.border-l-14{border-left: 14px !important;}
.border-15{border: 15px !important;}.border-t-15{border-top: 15px !important;}.border-r-15{border-right: 15px !important;}.border-b-15{border-bottom: 15px !important;}.border-l-15{border-left: 15px !important;}
.border-16{border: 16px !important;}.border-t-16{border-top: 16px !important;}.border-r-16{border-right: 16px !important;}.border-b-16{border-bottom: 16px !important;}.border-l-16{border-left: 16px !important;}
.border-17{border: 17px !important;}.border-t-17{border-top: 17px !important;}.border-r-17{border-right: 17px !important;}.border-b-17{border-bottom: 17px !important;}.border-l-17{border-left: 17px !important;}
.border-18{border: 18px !important;}.border-t-18{border-top: 18px !important;}.border-r-18{border-right: 18px !important;}.border-b-18{border-bottom: 18px !important;}.border-l-18{border-left: 18px !important;}
.border-19{border: 19px !important;}.border-t-19{border-top: 19px !important;}.border-r-19{border-right: 19px !important;}.border-b-19{border-bottom: 19px !important;}.border-l-19{border-left: 19px !important;}
.border-20{border: 20px !important;}.border-t-20{border-top: 20px !important;}.border-r-20{border-right: 20px !important;}.border-b-20{border-bottom: 20px !important;}.border-l-20{border-left: 20px !important;}

/*border style*/
.solid{border-style: solid!important;}.t-solid{border-top-style: solid!important;}.r-solid{border-right-style: solid !important;}.b-solid{border-bottom-style: solid;}.l-solid{border-left-style: solid !important;}
.dashed{border-style: dashed!important;}.t-dashed{border-top-style: dashed!important;}.r-dashed{border-right-style: dashed!important;}.b-dashed{border-bottom-style: dashed!important;}.l-dashed{border-left-style: dashed!important;}
.dotted{border-style: dotted!important;}.t-dotted{border-top-style: dotted!important;}.r-dotted{border-right-style: dotted!important;}.b-dotted{border-bottom-style: dotted!important;}.l-dotted{border-left-style: dotted!important;}
.hidden{border-style: hidden!important;}.t-hidden{border-top-style: hidden!important;}.r-hidden{border-right-style: hidden!important;}.b-hidden{border-bottom-style: hidden!important;}.l-hidden{border-left-style: hidden!important;}
.none{border-style: none!important;}.t-none{border-top-style: none!important;}.r-none{border-right-style: none!important;}.b-none{border-bottom-style: none!important;}.l-none{border-left-style: none!important;}
/* border radius*/
.radius-0{border-radius: 0px !important;}.radius-lt-0{border-top-left-radius: 0px !important;}.radius-rt-0{border-top-right-radius: 0px !important;}.radius-rb-0{border-bottom-right-radius: 0px !important;}.radius-lb-0{border-bottom-left-radius: 0px !important;}
.radius-1{border-radius: 1px !important;}.radius-lt-1{border-top-left-radius: 1px !important;}.radius-rt-1{border-top-right-radius: 1px !important;}.radius-rb-1{border-bottom-right-radius: 1px !important;}.radius-lb-1{border-bottom-left-radius: 1px !important;}
.radius-2{border-radius: 2px !important;}.radius-lt-2{border-top-left-radius: 2px !important;}.radius-rt-2{border-top-right-radius: 2px !important;}.radius-rb-2{border-bottom-right-radius: 2px !important;}.radius-lb-2{border-bottom-left-radius: 2px !important;}
.radius-3{border-radius: 3px !important;}.radius-lt-3{border-top-left-radius: 3px !important;}.radius-rt-3{border-top-right-radius: 3px !important;}.radius-rb-3{border-bottom-right-radius: 3px !important;}.radius-lb-3{border-bottom-left-radius: 3px !important;}
.radius-4{border-radius: 4px !important;}.radius-lt-4{border-top-left-radius: 4px !important;}.radius-rt-4{border-top-right-radius: 4px !important;}.radius-rb-4{border-bottom-right-radius: 4px !important;}.radius-lb-4{border-bottom-left-radius: 4px !important;}
.radius-5{border-radius: 5px !important;}.radius-lt-5{border-top-left-radius: 5px !important;}.radius-rt-5{border-top-right-radius: 5px !important;}.radius-rb-5{border-bottom-right-radius: 5px !important;}.radius-lb-5{border-bottom-left-radius: 5px !important;}
.radius-6{border-radius: 6px !important;}.radius-lt-6{border-top-left-radius: 6px !important;}.radius-rt-6{border-top-right-radius: 6px !important;}.radius-rb-6{border-bottom-right-radius: 6px !important;}.radius-lb-6{border-bottom-left-radius: 6px !important;}
.radius-7{border-radius: 7px !important;}.radius-lt-7{border-top-left-radius: 7px !important;}.radius-rt-7{border-top-right-radius: 7px !important;}.radius-rb-7{border-bottom-right-radius: 7px !important;}.radius-lb-7{border-bottom-left-radius: 7px !important;}
.radius-8{border-radius: 8px !important;}.radius-lt-8{border-top-left-radius: 8px !important;}.radius-rt-8{border-top-right-radius: 8px !important;}.radius-rb-8{border-bottom-right-radius: 8px !important;}.radius-lb-8{border-bottom-left-radius: 8px !important;}
.radius-9{border-radius: 9px !important;}.radius-lt-9{border-top-left-radius: 9px !important;}.radius-rt-9{border-top-right-radius: 9px !important;}.radius-rb-9{border-bottom-right-radius: 9px !important;}.radius-lb-9{border-bottom-left-radius: 9px !important;}
.radius-11{border-radius: 11px !important;}.radius-lt-11{border-top-left-radius: 11px !important;}.radius-rt-11{border-top-right-radius: 11px !important;}.radius-rb-11{border-bottom-right-radius: 11px !important;}.radius-lb-11{border-bottom-left-radius: 11px !important;}
.radius-12{border-radius: 12px !important;}.radius-lt-12{border-top-left-radius: 12px !important;}.radius-rt-12{border-top-right-radius: 12px !important;}.radius-rb-12{border-bottom-right-radius: 12px !important;}.radius-lb-12{border-bottom-left-radius: 12px !important;}
.radius-13{border-radius: 13px !important;}.radius-lt-13{border-top-left-radius: 13px !important;}.radius-rt-13{border-top-right-radius: 13px !important;}.radius-rb-13{border-bottom-right-radius: 13px !important;}.radius-lb-13{border-bottom-left-radius: 13px !important;}
.radius-14{border-radius: 14px !important;}.radius-lt-14{border-top-left-radius: 14px !important;}.radius-rt-14{border-top-right-radius: 14px !important;}.radius-rb-14{border-bottom-right-radius: 14px !important;}.radius-lb-14{border-bottom-left-radius: 14px !important;}
.radius-16{border-radius: 16px !important;}.radius-lt-16{border-top-left-radius: 16px !important;}.radius-rt-16{border-top-right-radius: 16px !important;}.radius-rb-16{border-bottom-right-radius: 16px !important;}.radius-lb-16{border-bottom-left-radius: 16px !important;}
.radius-17{border-radius: 17px !important;}.radius-lt-17{border-top-left-radius: 17px !important;}.radius-rt-17{border-top-right-radius: 17px !important;}.radius-rb-17{border-bottom-right-radius: 17px !important;}.radius-lb-17{border-bottom-left-radius: 17px !important;}
.radius-18{border-radius: 18px !important;}.radius-lt-18{border-top-left-radius: 18px !important;}.radius-rt-18{border-top-right-radius: 18px !important;}.radius-rb-18{border-bottom-right-radius: 18px !important;}.radius-lb-18{border-bottom-left-radius: 18px !important;}
.radius-19{border-radius: 19px !important;}.radius-lt-19{border-top-left-radius: 19px !important;}.radius-rt-19{border-top-right-radius: 19px !important;}.radius-rb-19{border-bottom-right-radius: 19px !important;}.radius-lb-19{border-bottom-left-radius: 19px !important;}
.radius-10{border-radius: 10px !important;}.radius-lt-10{border-top-left-radius: 10px !important;}.radius-rt-10{border-top-right-radius: 10px !important;}.radius-rb-10{border-bottom-right-radius: 10px !important;}.radius-lb-10{border-bottom-left-radius: 10px !important;}
.radius-15{border-radius: 15px !important;}.radius-lt-15{border-top-left-radius: 15px !important;}.radius-rt-15{border-top-right-radius: 15px !important;}.radius-rb-15{border-bottom-right-radius: 15px !important;}.radius-lb-15{border-bottom-left-radius: 15px !important;}
.radius-20{border-radius: 20px !important;}.radius-lt-20{border-top-left-radius: 20px !important;}.radius-rt-20{border-top-right-radius: 20px !important;}.radius-rb-20{border-bottom-right-radius: 20px !important;}.radius-lb-20{border-bottom-left-radius: 20px !important;}
.radius-25{border-radius: 25px !important;}.radius-lt-25{border-top-left-radius: 25px !important;}.radius-rt-25{border-top-right-radius: 25px !important;}.radius-rb-25{border-bottom-right-radius: 25px !important;}.radius-lb-25{border-bottom-left-radius: 25px !important;}
.radius-30{border-radius: 30px !important;}.radius-lt-30{border-top-left-radius: 30px !important;}.radius-rt-30{border-top-right-radius: 30px !important;}.radius-rb-30{border-bottom-right-radius: 30px !important;}.radius-lb-30{border-bottom-left-radius: 30px !important;}
.radius-35{border-radius: 35px !important;}.radius-lt-35{border-top-left-radius: 35px !important;}.radius-rt-35{border-top-right-radius: 35px !important;}.radius-rb-35{border-bottom-right-radius: 35px !important;}.radius-lb-35{border-bottom-left-radius: 35px !important;}
.radius-40{border-radius: 40px !important;}.radius-lt-40{border-top-left-radius: 40px !important;}.radius-rt-40{border-top-right-radius: 40px !important;}.radius-rb-40{border-bottom-right-radius: 40px !important;}.radius-lb-40{border-bottom-left-radius: 40px !important;}
.radius-45{border-radius: 45px !important;}.radius-lt-45{border-top-left-radius: 45px !important;}.radius-rt-45{border-top-right-radius: 45px !important;}.radius-rb-45{border-bottom-right-radius: 45px !important;}.radius-lb-45{border-bottom-left-radius: 45px !important;}
.radius-50{border-radius: 50px !important;}.radius-lt-50{border-top-left-radius: 50px !important;}.radius-rt-50{border-top-right-radius: 50px !important;}.radius-rb-50{border-bottom-right-radius: 50px !important;}.radius-lb-50{border-bottom-left-radius: 50px !important;}
.radius-55{border-radius: 55px !important;}.radius-lt-55{border-top-left-radius: 55px !important;}.radius-rt-55{border-top-right-radius: 55px !important;}.radius-rb-55{border-bottom-right-radius: 55px !important;}.radius-lb-55{border-bottom-left-radius: 55px !important;}
.radius-60{border-radius: 60px !important;}.radius-lt-60{border-top-left-radius: 60px !important;}.radius-rt-60{border-top-right-radius: 60px !important;}.radius-rb-60{border-bottom-right-radius: 60px !important;}.radius-lb-60{border-bottom-left-radius: 60px !important;}
.radius-65{border-radius: 65px !important;}.radius-lt-65{border-top-left-radius: 65px !important;}.radius-rt-65{border-top-right-radius: 65px !important;}.radius-rb-65{border-bottom-right-radius: 65px !important;}.radius-lb-65{border-bottom-left-radius: 65px !important;}
.radius-70{border-radius: 70px !important;}.radius-lt-70{border-top-left-radius: 70px !important;}.radius-rt-70{border-top-right-radius: 70px !important;}.radius-rb-70{border-bottom-right-radius: 70px !important;}.radius-lb-70{border-bottom-left-radius: 70px !important;}
.radius-75{border-radius: 75px !important;}.radius-lt-75{border-top-left-radius: 75px !important;}.radius-rt-75{border-top-right-radius: 75px !important;}.radius-rb-75{border-bottom-right-radius: 75px !important;}.radius-lb-75{border-bottom-left-radius: 75px !important;}
.radius-80{border-radius: 80px !important;}.radius-lt-80{border-top-left-radius: 80px !important;}.radius-rt-80{border-top-right-radius: 80px !important;}.radius-rb-80{border-bottom-right-radius: 80px !important;}.radius-lb-80{border-bottom-left-radius: 80px !important;}
.radius-85{border-radius: 85px !important;}.radius-lt-85{border-top-left-radius: 85px !important;}.radius-rt-85{border-top-right-radius: 85px !important;}.radius-rb-85{border-bottom-right-radius: 85px !important;}.radius-lb-85{border-bottom-left-radius: 85px !important;}
.radius-90{border-radius: 90px !important;}.radius-lt-90{border-top-left-radius: 90px !important;}.radius-rt-90{border-top-right-radius: 90px !important;}.radius-rb-90{border-bottom-right-radius: 90px !important;}.radius-lb-90{border-bottom-left-radius: 90px !important;}
.radius-95{border-radius: 95px !important;}.radius-lt-95{border-top-left-radius: 95px !important;}.radius-rt-95{border-top-right-radius: 95px !important;}.radius-rb-95{border-bottom-right-radius: 95px !important;}.radius-lb-95{border-bottom-left-radius: 95px !important;}
.radius-100{border-radius: 100px !important;}.radius-lt-100{border-top-left-radius: 100px !important;}.radius-rt-100{border-top-right-radius: 100px !important;}.radius-rb-100{border-bottom-right-radius: 100px !important;}.radius-lb-100{border-bottom-left-radius: 100px !important;}

.radius-y-0{border-radius: 0%;}.radius-y-lt-0{border-top-left-radius: 0%;}.radius-y-rt-0{border-top-right-radius: 0%;}.radius-y-rb-0{border-bottom-right-radius: 0%;}.radius-y-lb-0{border-bottom-left-radius: 0%;}
.radius-y-1{border-radius: 1%;}.radius-y-lt-1{border-top-left-radius: 1%;}.radius-y-rt-1{border-top-right-radius: 1%;}.radius-y-rb-1{border-bottom-right-radius: 1%;}.radius-y-lb-1{border-bottom-left-radius: 1%;}
.radius-y-2{border-radius: 2%;}.radius-y-lt-2{border-top-left-radius: 2%;}.radius-y-rt-2{border-top-right-radius: 2%;}.radius-y-rb-2{border-bottom-right-radius: 2%;}.radius-y-lb-2{border-bottom-left-radius: 2%;}
.radius-y-3{border-radius: 3%;}.radius-y-lt-3{border-top-left-radius: 3%;}.radius-y-rt-3{border-top-right-radius: 3%;}.radius-y-rb-3{border-bottom-right-radius: 3%;}.radius-y-lb-3{border-bottom-left-radius: 3%;}
.radius-y-4{border-radius: 4%;}.radius-y-lt-4{border-top-left-radius: 4%;}.radius-y-rt-4{border-top-right-radius: 4%;}.radius-y-rb-4{border-bottom-right-radius: 4%;}.radius-y-lb-4{border-bottom-left-radius: 4%;}
.radius-y-5{border-radius: 5%;}.radius-y-lt-5{border-top-left-radius: 5%;}.radius-y-rt-5{border-top-right-radius: 5%;}.radius-y-rb-5{border-bottom-right-radius: 5%;}.radius-y-lb-5{border-bottom-left-radius: 5%;}
.radius-y-10{border-radius: 10%;}.radius-y-lt-10{border-top-left-radius: 10%;}.radius-y-rt-10{border-top-right-radius: 10%;}.radius-y-rb-10{border-bottom-right-radius: 10%;}.radius-y-lb-10{border-bottom-left-radius: 10%;}
.radius-y-15{border-radius: 15%;}.radius-y-lt-15{border-top-left-radius: 15%;}.radius-y-rt-15{border-top-right-radius: 15%;}.radius-y-rb-15{border-bottom-right-radius: 15%;}.radius-y-lb-15{border-bottom-left-radius: 15%;}
.radius-y-20{border-radius: 20%;}.radius-y-lt-20{border-top-left-radius: 20%;}.radius-y-rt-20{border-top-right-radius: 20%;}.radius-y-rb-20{border-bottom-right-radius: 20%;}.radius-y-lb-20{border-bottom-left-radius: 20%;}
.radius-y-25{border-radius: 25%;}.radius-y-lt-25{border-top-left-radius: 25%;}.radius-y-rt-25{border-top-right-radius: 25%;}.radius-y-rb-25{border-bottom-right-radius: 25%;}.radius-y-lb-25{border-bottom-left-radius: 25%;}
.radius-y-30{border-radius: 30%;}.radius-y-lt-30{border-top-left-radius: 30%;}.radius-y-rt-30{border-top-right-radius: 30%;}.radius-y-rb-30{border-bottom-right-radius: 30%;}.radius-y-lb-30{border-bottom-left-radius: 30%;}
.radius-y-35{border-radius: 35%;}.radius-y-lt-35{border-top-left-radius: 35%;}.radius-y-rt-35{border-top-right-radius: 35%;}.radius-y-rb-35{border-bottom-right-radius: 35%;}.radius-y-lb-35{border-bottom-left-radius: 35%;}
.radius-y-40{border-radius: 40%;}.radius-y-lt-40{border-top-left-radius: 40%;}.radius-y-rt-40{border-top-right-radius: 40%;}.radius-y-rb-40{border-bottom-right-radius: 40%;}.radius-y-lb-40{border-bottom-left-radius: 40%;}
.radius-y-45{border-radius: 45%;}.radius-y-lt-45{border-top-left-radius: 45%;}.radius-y-rt-45{border-top-right-radius: 45%;}.radius-y-rb-45{border-bottom-right-radius: 45%;}.radius-y-lb-45{border-bottom-left-radius: 45%;}
.radius-y-50{border-radius: 50%;}.radius-y-lt-50{border-top-left-radius: 50%;}.radius-y-rt-50{border-top-right-radius: 50%;}.radius-y-rb-50{border-bottom-right-radius: 50%;}.radius-y-lb-50{border-bottom-left-radius: 50%;}
.radius-y-55{border-radius: 55%;}.radius-y-lt-55{border-top-left-radius: 55%;}.radius-y-rt-55{border-top-right-radius: 55%;}.radius-y-rb-55{border-bottom-right-radius: 55%;}.radius-y-lb-55{border-bottom-left-radius: 55%;}
.radius-y-60{border-radius: 60%;}.radius-y-lt-60{border-top-left-radius: 60%;}.radius-y-rt-60{border-top-right-radius: 60%;}.radius-y-rb-60{border-bottom-right-radius: 60%;}.radius-y-lb-60{border-bottom-left-radius: 60%;}
.radius-y-65{border-radius: 65%;}.radius-y-lt-65{border-top-left-radius: 65%;}.radius-y-rt-65{border-top-right-radius: 65%;}.radius-y-rb-65{border-bottom-right-radius: 65%;}.radius-y-lb-65{border-bottom-left-radius: 65%;}
.radius-y-70{border-radius: 70%;}.radius-y-lt-70{border-top-left-radius: 70%;}.radius-y-rt-70{border-top-right-radius: 70%;}.radius-y-rb-70{border-bottom-right-radius: 70%;}.radius-y-lb-70{border-bottom-left-radius: 70%;}
.radius-y-75{border-radius: 75%;}.radius-y-lt-75{border-top-left-radius: 75%;}.radius-y-rt-75{border-top-right-radius: 75%;}.radius-y-rb-75{border-bottom-right-radius: 75%;}.radius-y-lb-75{border-bottom-left-radius: 75%;}
.radius-y-80{border-radius: 80%;}.radius-y-lt-80{border-top-left-radius: 80%;}.radius-y-rt-80{border-top-right-radius: 80%;}.radius-y-rb-80{border-bottom-right-radius: 80%;}.radius-y-lb-80{border-bottom-left-radius: 80%;}
.radius-y-85{border-radius: 85%;}.radius-y-lt-85{border-top-left-radius: 85%;}.radius-y-rt-85{border-top-right-radius: 85%;}.radius-y-rb-85{border-bottom-right-radius: 85%;}.radius-y-lb-85{border-bottom-left-radius: 85%;}
.radius-y-90{border-radius: 90%;}.radius-y-lt-90{border-top-left-radius: 90%;}.radius-y-rt-90{border-top-right-radius: 90%;}.radius-y-rb-90{border-bottom-right-radius: 90%;}.radius-y-lb-90{border-bottom-left-radius: 90%;}
.radius-y-95{border-radius: 95%;}.radius-y-lt-95{border-top-left-radius: 95%;}.radius-y-rt-95{border-top-right-radius: 95%;}.radius-y-rb-95{border-bottom-right-radius: 95%;}.radius-y-lb-95{border-bottom-left-radius: 95%;}
.radius-y-100{border-radius: 100%;}.radius-y-lt-100{border-top-left-radius: 100%;}.radius-y-rt-100{border-top-right-radius: 100%;}.radius-y-rb-100{border-bottom-right-radius: 100%;}.radius-y-lb-100{border-bottom-left-radius: 100%;}
/*font size*/
.font-8{font-size: 8px !important;}.font-9{font-size: 9px !important;}.font-10{font-size: 10px !important;}.font-11{font-size: 11px !important;}.font-12{font-size: 12px !important;}.font-13{font-size: 13px !important;}.font-14{font-size: 14px !important;}.font-15{font-size: 15px !important;}.font-16{font-size: 16px !important;}.font-17{font-size: 17px !important;}
.font-18{font-size: 18px !important;}.font-19{font-size: 19px !important;}.font-20{font-size: 20px !important;}.font-21{font-size: 21px !important;}.font-22{font-size: 22px !important;}.font-23{font-size: 23px !important;}.font-24{font-size: 24px !important;}.font-26{font-size: 26px !important;}.font-28{font-size: 28px !important;}.font-30{font-size: 30px !important;}
.font-32{font-size: 32px !important;}.font-34{font-size: 34px !important;}.font-36{font-size: 36px !important;}.font-38{font-size: 38px !important;}.font-40{font-size: 40px !important;}.font-44{font-size: 44px !important;}.font-48{font-size: 48px !important;}.font-52{font-size: 52px !important;}.font-56{font-size: 56px !important;}.font-60{font-size: 60px !important;}
.font-66{font-size: 66px !important;}.font-72{font-size: 72px !important;}.font-80{font-size: 80px !important;}.font-100{font-size: 100px !important;}.font-120{font-size: 120px !important;}.font-140{font-size: 140px !important;} .font-140{font-size: 140px !important;}
/*font style*/
.font-up{text-transform: uppercase!important;}.font-low{text-transform: lowercase!important;}.font-cap{text-transform: capitalize!important;}
.text-l{text-align: left !important;}.text-c{text-align: center !important;}.text-r{text-align: right !important;}.text-j{text-align: justify !important;}
.line-height_1{ line-height: 1 !important;}.line-height_normal{ line-height: normal!important;}.line-height_2{ line-height: 200%!important;}
.line-height_11{line-height: 1.1 !important;}.line-height_12{line-height: 1.2 !important;}.line-height_13{line-height: 1.3 !important;}.line-height_14{line-height: 1.4!important;}.line-height_15{line-height: 1.5 !important;}
.block{ display: block;} .ortala{position: static; margin: 0 auto;} .text_light{font-weight: lighter !important;}.text_extralight{font-weight: 200 !important;}
.flex_sirali{ display: flex !important;flex-flow: wrap!important;}.flex_sirali_tek{ display: flex !important;flex-flow: row wrap!important;}.flex_sigdir{ display: flex!important; flex-wrap: nowrap!important;}.flex_ortala{display: flex!important;justify-content: center!important;}.flex_sola{display: flex!important;justify-content: flex-start!important;}.flex_saga{display: flex!important;justify-content: flex-end!important;}.flex_genislet_ortali{display: flex!important;justify-content: space-around!important;}.flex_kenar_bosluksuz{ display: flex!important;justify-content: space-between!important;}
.flex_uste{display: flex!important; align-items: flex-start!important;}.flex_orta{display: flex!important; align-items: flex-start!important;}.flex_alt{display: flex!important;align-items: flex-end!important;}.flex_boyuna{display: flex!important;align-items: stretch!important;}.flex_merkez_hizala{ display: flex!important;align-items: baseline!important;}.mutlak_orta {display: flex!important;justify-content: center!important;align-items: center!important;}.flex_v_orta {display: flex;flex-wrap: wrap;align-content: center;}.flex-stretch {display: flex;flex-wrap: wrap;align-content: stretch;}
.ls-none{list-style: none !important;}


.w_1{ width: 1px !important;}.h1{ height: 1px !important;}.w_y_1{ width: 1% !important;}.h_y_1{ height: 1% !important;}
.w_2{ width: 2px !important;}.h2{ height: 2px !important;}.w_y_2{ width: 2% !important;}.h_y_2{ height: 2% !important;}
.w_3{ width: 3px !important;}.h3{ height: 3px !important;}.w_y_3{ width: 3% !important;}.h_y_3{ height: 3% !important;}
.w_4{ width: 4px !important;}.h4{ height: 4px !important;}.w_y_4{ width: 4% !important;}.h_y_4{ height: 4% !important;}
.w_5{ width: 5px !important;}.h5{ height: 5px !important;}.w_y_5{ width: 5% !important;}.h_y_5{ height: 5% !important;}
.w_6{ width: 6px !important;}.h6{ height: 6px !important;}.w_y_6{ width: 6% !important;}.h_y_6{ height: 6% !important;}
.w_7{ width: 7px !important;}.h7{ height: 7px !important;}.w_y_7{ width: 7% !important;}.h_y_7{ height: 7% !important;}
.w_8{ width: 8px !important;}.h8{ height: 8px !important;}.w_y_8{ width: 8% !important;}.h_y_8{ height: 8% !important;}
.w_9{ width: 9px !important;}.h9{ height: 9px !important;}.w_y_9{ width: 9% !important;}.h_y_9{ height: 9% !important;}
.w_10{ width: 10px !important;}.h10{ height: 10px !important;}.w_y_10{ width: 10% !important;}.h_y_10{ height: 10% !important;}
.w_11{ width: 11px !important;}.h11{ height: 11px !important;}.w_y_11{ width: 11% !important;}.h_y_11{ height: 11% !important;}
.w_12{ width: 12px !important;}.h12{ height: 12px !important;}.w_y_12{ width: 12% !important;}.h_y_12{ height: 12% !important;}
.w_13{ width: 13px !important;}.h13{ height: 13px !important;}.w_y_13{ width: 13% !important;}.h_y_13{ height: 13% !important;}
.w_14{ width: 14px !important;}.h14{ height: 14px !important;}.w_y_14{ width: 14% !important;}.h_y_14{ height: 14% !important;}
.w_15{ width: 15px !important;}.h15{ height: 15px !important;}.w_y_15{ width: 15% !important;}.h_y_15{ height: 15% !important;}
.w_16{ width: 16px !important;}.h16{ height: 16px !important;}.w_y_16{ width: 16% !important;}.h_y_16{ height: 16% !important;}
.w_17{ width: 17px !important;}.h17{ height: 17px !important;}.w_y_17{ width: 17% !important;}.h_y_17{ height: 17% !important;}
.w_18{ width: 18px !important;}.h18{ height: 18px !important;}.w_y_18{ width: 18% !important;}.h_y_18{ height: 18% !important;}
.w_19{ width: 19px !important;}.h19{ height: 19px !important;}.w_y_19{ width: 19% !important;}.h_y_19{ height: 19% !important;}
.w_20{ width: 20px !important;}.h20{ height: 20px !important;}.w_y_20{ width: 20% !important;}.h_y_20{ height: 20% !important;}
.w_21{ width: 21px !important;}.h21{ height: 21px !important;}.w_y_21{ width: 21% !important;}.h_y_21{ height: 21% !important;}
.w_22{ width: 22px !important;}.h22{ height: 22px !important;}.w_y_22{ width: 22% !important;}.h_y_22{ height: 22% !important;}
.w_23{ width: 23px !important;}.h23{ height: 23px !important;}.w_y_23{ width: 23% !important;}.h_y_23{ height: 23% !important;}
.w_24{ width: 24px !important;}.h24{ height: 24px !important;}.w_y_24{ width: 24% !important;}.h_y_24{ height: 24% !important;}
.w_25{ width: 25px !important;}.h25{ height: 25px !important;}.w_y_25{ width: 25% !important;}.h_y_25{ height: 25% !important;}
.w_26{ width: 26px !important;}.h26{ height: 26px !important;}.w_y_26{ width: 26% !important;}.h_y_26{ height: 26% !important;}
.w_27{ width: 27px !important;}.h27{ height: 27px !important;}.w_y_27{ width: 27% !important;}.h_y_27{ height: 27% !important;}
.w_28{ width: 28px !important;}.h28{ height: 28px !important;}.w_y_28{ width: 28% !important;}.h_y_28{ height: 28% !important;}
.w_29{ width: 29px !important;}.h29{ height: 29px !important;}.w_y_29{ width: 29% !important;}.h_y_29{ height: 29% !important;}
.w_30{ width: 30px !important;}.h30{ height: 30px !important;}.w_y_30{ width: 30% !important;}.h_y_30{ height: 30% !important;}
.w_31{ width: 31px !important;}.h31{ height: 31px !important;}.w_y_31{ width: 31% !important;}.h_y_31{ height: 31% !important;}
.w_32{ width: 32px !important;}.h32{ height: 32px !important;}.w_y_32{ width: 32% !important;}.h_y_32{ height: 32% !important;}
.w_33{ width: 33px !important;}.h33{ height: 33px !important;}.w_y_33{ width: 33% !important;}.h_y_33{ height: 33% !important;}
.w_34{ width: 34px !important;}.h34{ height: 34px !important;}.w_y_34{ width: 34% !important;}.h_y_34{ height: 34% !important;}
.w_35{ width: 35px !important;}.h35{ height: 35px !important;}.w_y_35{ width: 35% !important;}.h_y_35{ height: 35% !important;}
.w_36{ width: 36px !important;}.h36{ height: 36px !important;}.w_y_36{ width: 36% !important;}.h_y_36{ height: 36% !important;}
.w_37{ width: 37px !important;}.h37{ height: 37px !important;}.w_y_37{ width: 37% !important;}.h_y_37{ height: 37% !important;}
.w_38{ width: 38px !important;}.h38{ height: 38px !important;}.w_y_38{ width: 38% !important;}.h_y_38{ height: 38% !important;}
.w_39{ width: 39px !important;}.h39{ height: 39px !important;}.w_y_39{ width: 39% !important;}.h_y_39{ height: 39% !important;}
.w_40{ width: 40px !important;}.h40{ height: 40px !important;}.w_y_40{ width: 40% !important;}.h_y_40{ height: 40% !important;}
.w_41{ width: 41px !important;}.h41{ height: 41px !important;}.w_y_41{ width: 41% !important;}.h_y_41{ height: 41% !important;}
.w_42{ width: 42px !important;}.h42{ height: 42px !important;}.w_y_42{ width: 42% !important;}.h_y_42{ height: 42% !important;}
.w_43{ width: 43px !important;}.h43{ height: 43px !important;}.w_y_43{ width: 43% !important;}.h_y_43{ height: 43% !important;}
.w_44{ width: 44px !important;}.h44{ height: 44px !important;}.w_y_44{ width: 44% !important;}.h_y_44{ height: 44% !important;}
.w_45{ width: 45px !important;}.h45{ height: 45px !important;}.w_y_45{ width: 45% !important;}.h_y_45{ height: 45% !important;}
.w_46{ width: 46px !important;}.h46{ height: 46px !important;}.w_y_46{ width: 46% !important;}.h_y_46{ height: 46% !important;}
.w_47{ width: 47px !important;}.h47{ height: 47px !important;}.w_y_47{ width: 47% !important;}.h_y_47{ height: 47% !important;}
.w_48{ width: 48px !important;}.h48{ height: 48px !important;}.w_y_48{ width: 48% !important;}.h_y_48{ height: 48% !important;}
.w_49{ width: 49px !important;}.h49{ height: 49px !important;}.w_y_49{ width: 49% !important;}.h_y_49{ height: 49% !important;}
.w_50{ width: 50px !important;}.h50{ height: 50px !important;}.w_y_50{ width: 50% !important;}.h_y_50{ height: 50% !important;}
.w_55{ width: 55px !important;}.h55{ height: 55px !important;}.w_y_55{ width: 55% !important;}.h_y_55{ height: 55% !important;}
.w_60{ width: 60px !important;}.h60{ height: 60px !important;}.w_y_60{ width: 60% !important;}.h_y_60{ height: 60% !important;}
.w_65{ width: 65px !important;}.h65{ height: 65px !important;}.w_y_65{ width: 65% !important;}.h_y_65{ height: 65% !important;}
.w_70{ width: 70px !important;}.h70{ height: 70px !important;}.w_y_70{ width: 70% !important;}.h_y_70{ height: 70% !important;}
.w_75{ width: 75px !important;}.h75{ height: 75px !important;}.w_y_75{ width: 75% !important;}.h_y_75{ height: 75% !important;}
.w_80{ width: 80px !important;}.h80{ height: 80px !important;}.w_y_80{ width: 80% !important;}.h_y_80{ height: 80% !important;}
.w_85{ width: 85px !important;}.h85{ height: 85px !important;}.w_y_85{ width: 85% !important;}.h_y_85{ height: 85% !important;}
.w_90{ width: 90px !important;}.h90{ height: 90px !important;}.w_y_90{ width: 90% !important;}.h_y_90{ height: 90% !important;}
.w_95{ width: 95px !important;}.h95{ height: 95px !important;}.w_y_95{ width: 95% !important;}.h_y_95{ height: 95% !important;}
.w_100{ width: 100px !important;}.h100{ height: 100px !important;}.w_y_100{ width: 100% !important;}.h_y_100{ height: 100% !important;}
.w_150{ width: 150px !important;}.h150{ height: 150px !important;}.w_y_150{ width: 150% !important;}.h_y_150{ height: 150% !important;}
.w_200{ width: 200px !important;}.h200{ height: 200px !important;}.w_y_200{ width: 200% !important;}.h_y_200{ height: 200% !important;}
.w_300{ width: 300px !important;}.h300{ height: 300px !important;}.w_y_300{ width: 300% !important;}.h_y_300{ height: 300% !important;}
.w_400{ width: 400px !important;}.h400{ height: 400px !important;}.w_y_400{ width: 400% !important;}.h_y_400{ height: 400% !important;}
.w_500{ width: 500px !important;}.h500{ height: 500px !important;}.w_y_500{ width: 500% !important;}.h_y_500{ height: 500% !important;}


.bg-w1{background-color: #fff!important; }.c-w1{color: #fff!important; }.bc-w1{border-color: #fff !important;}
.bg-w2{background-color: #efefef!important; }.c-w2{color: #efefef!important; }.bc-w2{border-color: #efefef !important;}
.bg-blue1{background-color: #42a5f5!important; }.c-blue1{color: #42a5f5!important; }.bc-blue1{border-color: #42a5f5 !important;}
.bg-blue2{background-color: #1e88e5 !important; }.c-blue2{color: #1e88e5 !important; }.bc-blue2{border-color: #1e88e5 !important;}
.bg-blue3{background-color: #3498db !important; }.c-blue3{color: #3498db !important; }.bc-blue3{border-color: #3498db !important;}
.bg-blue4{background-color: #1f79cb !important; }.c-blue4{color: #1f79cb !important; }.bc-blue4{border-color: #1f79cb !important;}
.bg-blue5{background-color: #4160de !important; }.c-blue5{color: #4160de !important; }.bc-blue5{border-color: #4160de !important;}
.bg-blue6{background-color: #2a4085 !important; }.c-blue6{color: #2a4085 !important; }.bc-blue6{border-color: #2a4085 !important;}
.bg-blue7{background-color: #25628F !important; }.c-blue7{color: #25628F !important; }.bc-blue7{border-color: #25628F !important;}
.bg-blue8{background-color: #1d4c6f !important; }.c-blue8{color: #1d4c6f !important; }.bc-blue8{border-color: #1d4c6f !important;}
.bg-red1{background-color: #ef717a !important; }.c-red1{color: #ef717a !important; }.bc-red1{border-color: #ef717a !important;}
.bg-red2{background-color: #e7515a !important; }.c-red2{color: #e7515a !important; }.bc-red2{border-color: #e7515a !important;}
.bg-red3{background-color: #ef5350 !important; }.c-red3{color: #ef5350 !important; }.bc-red3{border-color: #ef5350 !important;}
.bg-red4{background-color: #e53935 !important; }.c-red4{color: #e53935 !important; }.bc-red4{border-color: #e53935 !important;}
.bg-red5{background-color: #e74c3c !important; }.c-red5{color: #e74c3c !important; }.bc-red5{border-color: #e74c3c !important;}
.bg-red6{background-color: #dc3125 !important; }.c-red6{color: #dc3125 !important; }.bc-red6{border-color: #dc3125 !important;}
.bg-red7{background-color: #e23e57 !important; }.c-red7{color: #e23e57 !important; }.bc-red7{border-color: #e23e57 !important;}
.bg-red8{background-color: #882535 !important; }.c-red8{color: #882535 !important; }.bc-red8{border-color: #882535 !important;}
.bg-green1{background-color: #2ecc71 !important; }.c-green1{color: #2ecc71 !important; }.bc-green1{border-color: #2ecc71 !important;}
.bg-green2{background-color: #1bb751 !important; }.c-green2{color: #1bb751 !important; }.bc-green2{border-color: #1bb751 !important;}
.bg-green3{background-color: #4caf50 !important; }.c-green3{color: #4caf50 !important; }.bc-green3{border-color: #4caf50 !important;}
.bg-green4{background-color: #43a047 !important; }.c-green4{color: #43a047 !important; }.bc-green4{border-color: #43a047 !important;}
.bg-green5{background-color: #a5c63b !important; }.c-green5{color: #a5c63b !important; }.bc-green5{border-color: #a5c63b !important;}
.bg-green6{background-color: #88b024 !important; }.c-green6{color: #88b024 !important; }.bc-green6{border-color: #88b024 !important;}
.bg-green7{background-color: #1abc9c !important; }.c-green7{color: #1abc9c !important; }.bc-green7{border-color: #1abc9c !important;}
.bg-green8{background-color: #0ea37d !important; }.c-green8{color: #0ea37d !important; }.bc-green8{border-color: #0ea37d !important;}
.bg-green9{background-color: #02a388 !important; }.c-green9{color: #02a388 !important; }.bc-green9{border-color: #02a388 !important;}
.bg-green10{background-color: #006758 !important; }.c-green10{color: #006758 !important; }.bc-green10{border-color: #006758 !important;}
.bg-green11{background-color: #345f41 !important; }.c-green11{color: #345f41 !important; }.bc-green11{border-color: #345f41 !important;}
.bg-green12{background-color: #1f4129 !important; }.c-green12{color: #1f4129 !important; }.bc-green12{border-color: #1f4129 !important;}
.bg-yellow1{background-color: #ffcd02 !important; }.c-yellow1{color: #ffcd02 !important; }.bc-yellow1{border-color: #ffcd02 !important;}
.bg-yellow2{background-color: #ffb901 !important; }.c-yellow2{color: #ffb901 !important; }.bc-yellow2{border-color: #ffb901 !important;}
.bg-yellow3{background-color: #ffb300 !important; }.c-yellow3{color: #ffb300 !important; }.bc-yellow3{border-color: #ffb300 !important;}
.bg-yellow4{background-color: #ff8f00 !important; }.c-yellow4{color: #ff8f00 !important; }.bc-yellow4{border-color: #ff8f00 !important;}
.bg-yellow5{background-color: #e79716 !important; }.c-yellow5{color: #e79716 !important; }.bc-yellow5{border-color: #e79716 !important;}
.bg-yellow6{background-color: #f96800 !important; }.c-yellow6{color: #f96800 !important; }.bc-yellow6{border-color: #f96800 !important;}
.bg-yellow7{background-color: #e67e22 !important; }.c-yellow7{color: #e67e22 !important; }.bc-yellow7{border-color: #e67e22 !important;}
.bg-yellow8{background-color: #da5e13 !important; }.c-yellow8{color: #da5e13 !important; }.bc-yellow8{border-color: #da5e13 !important;}
.bg-yellow9{background-color: #f27d3a !important; }.c-yellow9{color: #f27d3a !important; }.bc-yellow9{border-color: #f27d3a !important;}
.bg-purple1{background-color: #f47cc3 !important; }.c-purple1{color: #f47cc3 !important; }.bc-purple1{border-color: #f47cc3 !important;}
.bg-purple2{background-color: #ee5cac !important; }.c-purple2{color: #ee5cac !important; }.bc-purple2{border-color: #ee5cac !important;}
.bg-purple3{background-color: #9b59b6 !important; }.c-purple3{color: #9b59b6 !important; }.bc-purple3{border-color: #9b59b6 !important;}
.bg-purple4{background-color: #7c3c9c !important; }.c-purple4{color: #7c3c9c !important; }.bc-purple4{border-color: #7c3c9c !important;}
.bg-purple5{background-color: #745ec5 !important; }.c-purple5{color: #745ec5 !important; }.bc-purple5{border-color: #745ec5 !important;}
.bg-purple6{background-color: #5440ae !important; }.c-purple6{color: #5440ae !important; }.bc-purple6{border-color: #5440ae !important;}
.bg-purple7{background-color: #9043d8 !important; }.c-purple7{color: #9043d8 !important; }.bc-purple7{border-color: #9043d8 !important;}
.bg-purple8{background-color: #5b2e81 !important; }.c-purple8{color: #5b2e81 !important; }.bc-purple8{border-color: #5b2e81 !important;}
.bg-purple9{background-color: #5e345e !important; }.c-purple9{color: #5e345e !important; }.bc-purple9{border-color: #5e345e !important;}
.bg-purple10{background-color: #401f40 !important; }.c-purple10{color: #401f40 !important; }.bc-purple10{border-color: #401f40 !important;}
.bg-brown1{background-color: #d5c295 !important; }.c-brown1{color: #d5c295 !important; }.bc-brown1{border-color: #d5c295 !important;}
.bg-brown2{background-color: #c3ab76 !important; }.c-brown2{color: #c3ab76 !important; }.bc-brown2{border-color: #c3ab76 !important;}
.bg-brown3{background-color: #a38671 !important; }.c-brown3{color: #a38671 !important; }.bc-brown3{border-color: #a38671 !important;}
.bg-brown4{background-color: #856651 !important; }.c-brown4{color: #856651 !important; }.bc-brown4{border-color: #856651 !important;}
.bg-brown5{background-color: #5e4534 !important; }.c-brown5{color: #5e4534 !important; }.bc-brown5{border-color: #5e4534 !important;}
.bg-brown6{background-color: #402c1f !important; }.c-brown6{color: #402c1f !important; }.bc-brown6{border-color: #402c1f !important;}
.bg-brown7{background-color: #79302a !important; }.c-brown7{color: #79302a !important; }.bc-brown7{border-color: #79302a !important;}
.bg-brown8{background-color: #591c18 !important; }.c-brown8{color: #591c18 !important; }.bc-brown8{border-color: #591c18 !important;}
.bg-brown9{background-color: #630a10 !important; }.c-brown9{color: #630a10 !important; }.bc-brown9{border-color: #630a10 !important;}
.bg-brown10{background-color: #42060f !important; }.c-brown10{color: #42060f !important; }.bc-brown10{border-color: #42060f !important;}
.bg-light1{background-color: #ebebeb !important; }.c-light1{color: #ebebeb !important; }.bc-light1{border-color: #ebebeb !important;}
.bg-light2{background-color: #d7d7d7 !important; }.c-light2{color: #d7d7d7 !important; }.bc-light2{border-color: #d7d7d7 !important;}
.bg-light3{background-color: #ecf0f1 !important; }.c-light3{color: #ecf0f1 !important; }.bc-light3{border-color: #ecf0f1 !important;}
.bg-light4{background-color: #e3e9ea !important; }.c-light4{color: #e3e9ea !important; }.bc-light4{border-color: #e3e9ea !important;}
.bg-light5{background-color: #b8c9f1 !important; }.c-light5{color: #b8c9f1 !important; }.bc-light5{border-color: #b8c9f1 !important;}
.bg-light6{background-color: #9eb3ea !important; }.c-light6{color: #9eb3ea !important; }.bc-light6{border-color: #9eb3ea !important;}
.bg-light7{background-color: #95a5a6 !important; }.c-light7{color: #95a5a6 !important; }.bc-light7{border-color: #95a5a6 !important;}
.bg-light8{background-color: #768889 !important; }.c-light8{color: #768889 !important; }.bc-light8{border-color: #768889 !important;}
.bg-light10{background-color: #f6f6f6 !important; }.c-light10{color: #f6f6f6 !important; }.bc-light10{border-color: #f6f6f6 !important;}
.bg-light9{background-color: #0d486c}
.bg-dark1{background-color: #3a6f81 !important; }.c-dark1{color: #3a6f81 !important; }.bc-dark1{border-color: #3a6f81 !important;}
.bg-dark2{background-color: #1f2f40 !important; }.c-dark2{color: #1f2f40 !important; }.bc-dark2{border-color: #1f2f40 !important; }
.bg-dark3{background-color: #34495e;}.c-dark3{color: #34495e !important; }.bc-dark3{border-color: #34495e !important;}
.bg-dark4{background-color: #1f2f40 !important; }.c-dark4{color: #1f2f40 !important; }.bc-dark4{border-color: #1f2f40 !important;}
.bg-dark5{background-color: #2b2b2b !important; }.c-dark5{color: #2b2b2b !important; }.bc-dark5{border-color: #2b2b2b !important;}
.bg-dark6{background-color: #191919 !important; }.c-dark6{color: #191919 !important; }.bc-dark6{border-color: #191919 !important;}
.bg-dark7{background-color: #000000 !important; }.c-dark7{color: #000000 !important; }.bc-dark7{border-color: #000000 !important;}
.bg-dark8{background-color: #131722 !important; }.c-dark8{color: #131722 !important; }
.bg-dark9{background-color: #07476d !important; }.c-dark9{color: #07476d !important; }
.bg-l-red{background-color: #fbe2e4 !important; }.c-l-red{color: #fbe2e4 !important; }.bc-l-red{border-color: #fbe2e4 !important;}
.bg-l-blue{background-color: #e2edfb !important; }.c-l-blue{color: #e2edfb !important; }.bc-l-blue{border-color: #e2edfb !important;}
.bg-l-green{background-color: #e2fbea !important; }.c-l-green{color: #e2fbea !important; }.bc-l-green{border-color: #e2fbea !important;}
.bg-l-yellow{background-color: #fbf9e2 !important; }.c-l-yellow{color: #fbf9e2 !important; }.bc-l-yellow{border-color: #fbf9e2 !important;}
