@import "theme/bootstrap.min.css";
@import "theme/genel.css";

header nav {
	clear:both;
	display: block;
	line-height: 61px;
	height:61px;
	position:relative;
	font-weight: 400;
	font-style: normal;

}
.menu-container {
	background-color:rgba(255, 255, 255, 0.5);
	position: fixed;
	padding-left:15px;
	padding-right:50px;
	top: 0;
	width: 100%;
    z-index: 100;
    border: 1px solid #d1d1d8;

}
.w_logo > .logo_1, .logo_1 > img {
	display: none;
}
.w_logo > .logo_2  {
	display: block;
}

.n_logo > .logo_1, .logo_1 > img {
	display: block;
}
.n_logo > .logo_2{
	display: none;
}


.scrolled > .menu-container{
	top: 0px;
	background-color: #fff;
	box-shadow: 0 1px 4px -1px #00356b;

}
.grt-menu-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a.grt-logo {
	display:inline-block;
	padding: 5px;
}
a.grt-logo img {
	max-height: 60px;
    width: auto;
}
.grt-mobile-button {
	display:none;
}
.grt-mobile-button:focus {
	border:0;
	outline:0;
}
.body-overflow {
	overflow:hidden;
}
ul.grt-menu {
	display: block;
	float:right;
	margin:0 -10px 0 0;
	padding:0;
	list-style-type: none;
}
ul.grt-menu:after {
	content:"";
	clear:both;
	display:block;
}
ul.grt-menu li {
	display: inline-block;
	margin:0 10px;
	padding:0;
	color: #024d6e;
}
ul.grt-menu li a, ul.grt-menu li ul li a  {
	padding: 4px 10px;
	letter-spacing: -1px;
	font-size:18px;
	display: inline-block;
	color: #024d6e;
	line-height: 1.1em;
	position:relative;
	text-decoration: none;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	background: linear-gradient(to right, transparent 50%, #024d6e 50%);
    background-size: 200% 100%;
    background-position:left bottom;
}
.scrolled * ul.grt-menu li a, .scrolled * li.grt-dropdown a:hover {
	color: #024174;
}



ul.grt-menu li.active a:after  {
    position: absolute;
    bottom: 1px;
    content: "";
    left: 9px;
	right: 9px;
    border-bottom: 1px solid #024d6e;
}

.scrolled * ul.grt-menu li.active a:after{
	border-bottom: 1px solid #024174;
}



@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
ul.grt-menu li.grt-dropdown:hover {
	cursor:pointer;
}
ul.grt-menu li.grt-dropdown:hover a {
	box-shadow: none;
}
ul.grt-menu li.grt-dropdown ul.grt-dropdown-list {
	display:none;
	position:absolute;
	background: #e6e6e6;
	margin: 16px 0 0 0;
	padding: 0;
	min-width:180px;
	animation: fadeIn 0.8s;
	z-index: 999;
}

ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li a {
	display:block;
	font-size:16px;
	color: #024174;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	padding: 9px 12px;
}
.scrolled * ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li a {
	color: #024174;
}

ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li:last-child a {
	padding-bottom:10px;
}
ul.grt-menu li.grt-dropdown.active-dropdown ul.grt-dropdown-list {
	display:block !important;
}
/* Desktop only style */
@media (min-width:768px) {
	ul.grt-menu li.grt-dropdown:hover > a + ul.grt-dropdown-list {
		display:block;
		top: calc(100% - 16px);
	}

	.scrolled * ul.grt-menu li.grt-dropdown:hover > a + ul.grt-dropdown-list {
		display:block;
		top: calc(100% - 16px);
		box-shadow: inset 0px 4px 4px -4px #1d5481;
	}

	ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li {
		display:block;
	}
	ul.grt-menu li.grt-dropdown:hover > a  {
		color:#FFF;
		box-shadow: inset 180px 0 0 0 #024174;
		background-position:right bottom;
		/*background-color: #024174;*/
	}
	ul.grt-menu li.grt-dropdown ul li:hover > a {
	  color:#FFF;
	  box-shadow: inset 180px 0 0 0 #bfbfbf;
  }
}
/* Tablet only style */
@media (min-width:768px) and (max-width:991px) {
	ul.grt-menu li a {
		font-size:18px;
	}
}
/* Mobile only style */
@media (max-width:1230px) {
	main .left_side{
		display: none;
	}
	main .right_side{
		width:100% !important;
	}
	.menu-container {
		padding-left: 15px;
		padding-right: 15px;
		/*background-color: #fff;*/
	}
	.grt-mobile-button {
		display:inline-block;
		position:absolute;
		right:0;
		top:10px;
		background:rgba(255, 255, 255, 0);
		color:#3d3d3d;
		margin:0;
		padding:0;
		cursor:pointer;
		border: 0;
		width:45px;
	}
	.grt-mobile-button .line1, .grt-mobile-button .line2, .grt-mobile-button .line3 {
		width: 45px;
		height: 4px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
		display:block;
	}
	ul.grt-menu {
		display:none;
		margin:0;
  		height: 0;
	}
	ul.open-grt-menu {
		position: fixed;
		background: #FFF;
		color: #024174;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		height:100%;
		float: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.grt-mobile-button-open {
		position: fixed;
		z-index:99999;
		right:25px;
		top:25px;
	}
	.grt-mobile-button-open .line1 {
		-webkit-transform: rotate(-45deg) translate(-8px, 5px);
		transform: rotate(-45deg) translate(-8px, 5px);
	}
	.grt-mobile-button-open .line2 {opacity: 0;}
	
	.grt-mobile-button-open .line3 {
		-webkit-transform: rotate(45deg) translate(-8px, -7px);
		transform: rotate(45deg) translate(-8px, -7px);
	}
	ul.grt-menu li {
		display: block;
		line-height: 3.5em;
		color: #024174;
	}
	ul.grt-menu li a {
		padding: 6px 10px;
		font-size:30px;
		color: #024174;
	}
	ul.grt-menu li.grt-dropdown ul.grt-dropdown-list {
		width:100%;
		position: relative;
		display:none;
	}
	ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li a {
		display: block;
		font-size: 17px;
	}
}

main{
	margin-top:62px;
	display: flex;
}

main .left_side{
    width:300px;
    height:calc(100vh - 62px);
    border-right: 1px solid #5e5e5e;
}

main .right_side{
	width:calc(100% - 300px);
}


.left_side .left_blocks{
    width:100%;
    line-height:80px;
	font-size:16px !important;

	text-align: center;
	font-weight: bold;
    border-bottom:1px solid #5e5e5e;
}

.left_side .left_blocks a{
	color:#5e5e5e;
}
