<body style="margin:0">
  <header>
    <div class="menu-container">
      <div class="grt-menu-row">
        <div class="grt-menu-logo w_logo" id="logomain">
          <input type="text" [(ngModel)]="this.hotel.id" class="margin-t-20 margin-r-20">
          <button (click)="getValue()" class="margin-t-20">Ara</button>
        </div>
        <div class="grt-menu-right">
          <nav>

            <button class="grt-mobile-button"><span class="line1"></span><span class="line2"></span><span
                class="line3"></span></button>
            <ul class="grt-menu">
              <li class="active"><a href>Home</a></li>
              <li class="grt-dropdown"><a>About</a></li>
              <li class="grt-dropdown"><a>Features</a> </li>
              <li class="grt-dropdown"><a href>Pricing</a></li>
              <li class="grt-dropdown"><a href>Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="left_side">
      <div class="container">
        <div class="row">
          <div class="left_blocks">
            <a href>Copocabana Apartment Posto 6</a>
          </div>
          <div class="left_blocks">
            <a href>Charming Flat in Downtown Moda</a>
          </div>
          <div class="left_blocks">
            <a href>Apt Linda Vista Lagoa - Rio</a>
          </div>
          <div class="left_blocks">
            <a href>Modern Spacious 1 Bedroom Loft</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right_side">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="row" style="border-right:1px solid black">
              <div class="col-sm-12 padding-t-30">
                <div style="height:300px; background-color:#d4d4d4">
                  <img [src]="this.hotel_information.images?.picture_url" style="width:100%; height:300px">
                </div>
              </div>
              <div class="col-sm-12 margin-t-10">
                <h5><strong> Review Source:</strong> {{this.hotel_information.review_scores?.review_scores_rating}}</h5>
              </div>
              <div class="col-sm-12 margin-y-15" style="border-bottom:1px solid black">
                <p><strong>Review</strong></p>
              </div>
            </div>
            <div class="row" style="border-right:1px solid black; border-left:1px solid black" *ngFor="let viewer of this.hotel_information.reviews">
              <div class="col-sm-6"><h4>{{viewer?.reviewer_name}}</h4></div>
              <div class="col-sm-6 text-r">{{viewer?.date}}</div>
              <div class="col-sm-12">{{viewer?.comments}}</div>
              <div class="col-sm-12 margin-y-15" style="border-bottom:1px solid black"></div>
            </div>
          </div>
          <div class="col-md-6 margin-t-30">
            <div class="row" style="border-bottom: 1px solid black  ;">
              <div class="col-sm-6">
                <h4>{{this.hotel_information?.name}}</h4><br>
                <p>{{this.hotel_information.host?.host_location}}</p>
              </div>
              <div class="col-sm-6 text-c">
                <div>
                  <img [src]="this.hotel_information.host?.host_picture_url" style="max-width: 100px; max-height: 100px; border-radius: 50%;">
                </div>
                <p class="font-weight-bold">{{this.hotel_information.host?.host_name}}</p>
              </div>
            </div>
            <div class="row margin-t-10" style="border-bottom: 1px solid black  ;">
              <div class="col-sm-6">
                <p><strong> Accommodates:</strong> {{this.hotel_information?.accommodates}}</p>
              </div>
              <div class="col-sm-6">
                <p><strong>Bedrooms:</strong>  {{this.hotel_information?.bedrooms}}</p>
              </div>
              <div class="col-sm-6">
                <p><strong>Bathrooms:</strong>  {{this.hotel_information?.bathrooms}}</p>
              </div>
              <div class="col-sm-6">
                <p><strong>Beds:</strong>  {{this.hotel_information?.beds}}</p>
              </div>
              <div class="col-sm-12">
                <p>{{this.hotel_information?.summary}}</p>
              </div>
              <div class="col-sm-12 margin-t-40">
                <p>{{this.hotel_information?.space}}</p>
              </div>
            </div>
            <div class="row margin-t-10" style="border-bottom: 1px solid black  ;">
              <div class="col-sm-12">
                <p><strong>Amenities:</strong>  {{this.hotel_information?.amenities}}</p>
              </div>
            </div>
            <div class="row margin-t-10" style="border-bottom: 1px solid black  ;">
              <div class="col-4">
                <p class="font-weight-bold">Daily Price</p>
                <p>{{this.hotel_information.price?.$numberDecimal}}</p>
              </div>
              <div class="col-4">
                <p class="font-weight-bold">Weekly Price</p>
                <p>{{(this.hotel_information.price?.$numberDecimal)*7}}</p>
              </div>
              <div class="col-4">
                <p class="font-weight-bold">Monthly Price</p>
                <p>{{(this.hotel_information.price?.$numberDecimal)*30}}</p>
              </div>
            </div>
            <div class="row margin-t-20">
              <div class="col-sm-12">
                <p>Address:</p>
                <p>{{this.hotel_information.address?.street}}</p>
                <p>{{this.hotel_information.address?.suburb}}</p>
                <p>{{this.hotel_information.address?.country}}</p>
                <p>{{this.hotel_information.address?.market}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>